<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Pen-Art 예약</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/base.css" rel="stylesheet" />

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body>
    <header class="site-header">
        <h1><a href="/">Pen-Art</a></h1>
        <nav>
            <a href="/ui/login">로그인</a>
            <a href="/ui/signup">회원가입</a>
            <a href="/ui/schedule">주간 일정</a>
        </nav>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

</body>
</html>